
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "GilroyRegular";
    src: local("GilroyRegular"),
      url("./fonts/Gilroy-Regular.ttf") format("opentype");
    font-weight: normal;
  }